body {
  background: #eeeee;
  width: 800px;

  margin: 20px auto 0 auto;

}

.alert {
  background: crimson;
  color: white;
  padding: 10px;
  margin: 10px 0;
}


pre {
  font-family: Arial;
  border: 1px solid black;
  box-shadow: 10px black;
}
